// -----------------------------------------------------------------------------
// This file contains LAYOUT styles ONLY for CONTAINERS on the home page.
// -----------------------------------------------------------------------------

.home-container {
  display: block;
  margin: auto;

  & .sidebar-container, & .search-result-container {
    padding: 60px 45px;
  }

}

@include respond-to(medium) {

  .home-container{
    display: flex;
    flex-wrap: nowrap;

    & .sidebar-container {
      flex: 40;

      & .sidebar-content{
        position: fixed;
      }
    }
    & .search-result-container {
      flex: 60;
    }

  }

}