// -----------------------------------------------------------------------------
// This file contains LAYOUT styles ONLY for CONTAINERS on the home page.
// -----------------------------------------------------------------------------

.home-container {
  display: block;
  margin: auto;

  & .sidebar-container, & .search-result-container, & footer {
    padding: 60px 45px 0;
  }

}