// -----------------------------------------------------------------------------
// This file contains LAYOUT styles ONLY for CONTAINERS on the home page.
// -----------------------------------------------------------------------------

.home-container {
  display: block;
  margin: auto;

  & .sidebar-container, & .search-result-container {
    padding: 60px 45px;
  }
}

//------------------------------------
// Medium Device Widths
//------------------------------------

@include respond-to(medium) {

  .home-container{
    display: flex;
    flex-wrap: nowrap;

    & .sidebar-container {
      flex: 40;
    }
    & .search-result-container {
      flex: 60;
    }

  }

}