.card {
  display: grid;
  height: 100%;
  width: 100%;
  padding: 16px;
  border: solid 1px;
  grid-template-rows: 30px 40px 35px auto 28px;

  & > .identifier {
    font-variant-caps: all-petite-caps;
    text-align: right;
  }

  & > .title {
    text-transform: uppercase;
  }

  & > time {
    text-align: right;
  }
}
