/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  color: $text-color;
}

h1 {
  font-weight: 800;
}

/**
 * Headers should generally use the same fonts.
 */
html, body, p, div, span {
  font-family: 'Raleway', serif;
}

p {
  font-weight: 200;
}