/**
 * Basic typography style for copy text
 */
body {
  font: normal 125% / 1.4 $text-font-stack;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Share Tech Mono', monospace;
}

h1 {
  font-weight: 800;
}

/**
 * Headers should generally use the same fonts.
 */
html, body, p, div, span, a {
  font-family: 'Fira Mono', monospace;
  letter-spacing: -0.05em;
}

a {
  text-decoration: none;
}

p {
  font-size: 0.9rem
}

time {
  font-size: 0.7rem
}