$base-theme:Default;
$skin-name:light;
// Container Themes
$accent: #D0A263;
$info: #3e80ed;
$success: #5ec232;
$warning: #fdce3e;
$error: #d51923;
// Typography Themes
$text-color: #656565;
$bg-color: #F4F4F3;
$hovered-text: #434343;
$hovered-bg: #F4F4F3;
$selected-text: #ffffff;
$selected-bg: #ff6358;
// Data Themes
$series-a: #ff6358;
$series-b: #ffd246;
$series-c: #78d237;
$series-d: #28b4c8;
$series-e: #2d73f5;
$series-f: #aa46be;

// C6878A
// D86549
// 4E5877